<div id='about' class='py-3 pt-lg-6 pb-lg-0'>
  <div class='container'>
    <div data-animate='fadeIn' data-animate-duration='0.8'>
      <hr class='hr-lg mt-0 mb-3 w-10 mx-auto hr-primary' />
      <h2 class='text-center text-uppercase font-weight-bold my-0'>
        We are <span class='text-shadow'>EQBotics.</span>
      </h2>
      <h5 class='text-center font-weight-light mt-2 mb-0 text-muted'>
        Co-creating a better world, one badge at a time.
      </h5>
      <hr class='mb-5 w-50 mx-auto' />
    </div>
    <div class='row'>
      <div class='col-md-6' data-animate='fadeIn' data-animate-delay='0.4' data-animate-offset='100%'>
        <p class='lead'>What is it?</p>
        <p>We believe that all people want to make great decisions all the time. All they need is the right information. We tend to prefer harmony over chaos, health over disease, love over anger. </p>
        <p class='mb-0'>Our quizzes and concepts work for many areas. They also increase emotional intelligence by being guided through many real world examples of daily interactions. We strive to help people to simply understand each other intuitively on a deeper level to prevent unpleasant incidents not by strict laws and fear thereof, but common courtesy and compassion.
The trainings are created to not take up more than mere minutes per week but create lasting effects through entertaining content, sensible repetitions and a gamification that makes training a joyful experience. Users gain badges along the way that publicly demonstrate their commitment for continuous self improvement.</p>
      </div>
      <div class='col-md-6' data-animate='fadeIn' data-animate-delay='0.8' data-animate-offset='100%'>
        <!-- List Items -->
        <ul class='fa-ul list-unstyled mt-4 mt-md-0'>
          <li class='mb-4'>
            <i class='fa-li fa fa-check text-primary'></i>
            <h4 class='mb-1'>
              Training that reaches everyone
            </h4>
            EQBotics is available on all major chat platforms as well as right on this website. 
          </li>
          <li class='mb-3'>
            <i class='fa-li fa fa-check text-primary'></i>
            <h4 class='mb-1'>
              Training that is fun!
            </h4>
            It's basically a fun game that allows you to claim badges
          </li>
          <li>
            <i class='fa-li fa fa-check text-primary'></i>
            <h4 class='mb-1'>
              Lasting change!
            </h4>
            Continous automated training causes permantent change in behavior. As our awareness rises we become harmonious with the environment - nature and all livign beings. 
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Why AppStrap -->
  <div class='bg-dark mt-3 mt-lg-6'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-lg-5 divider-diagonal divider-diagonal-r divider-dark' data-bg-img='/backgrounds/computer-screens.jpg' data-animate='fadeIn' data-animate-delay='0.1'></div>
        <div class='col-lg-4 py-5' data-animate='fadeIn' data-animate-delay='0.3'>
          <hr class='hr-lg mt-0 mb-2 w-10 ml-0 hr-primary' />
          <h2 class='display-4 text-slab text-white text-uppercase mt-0 mb-5'>
            Choose <span class='text-primary font-weight-bold'>EQBotics</span>
          </h2>
          <div class='row mb-3'>
            <div class='col-2 col-md-1 text-center'> <i class='fa fa-check text-primary icon-2x'></i>
            </div>
            <div class='col-10 col-md-11 text-grey'>
              <h4 class='font-weight-bold text-white text-uppercase'>
                Ready training in minutes
              </h4>
              <p>
              Just sign up and claim your first badge in minutes.</p>
            </div>
          </div>
          <div class='row mb-3'>
            <div class='col-2 col-md-1 text-center'> <i class='fa fa-check text-primary icon-2x'></i>
            </div>
            <div class='col-10 col-md-11 text-grey'>
              <h4 class='font-weight-bold text-white text-uppercase'>
                Show your friends who you are!
              </h4>
              <p>Share your personal accomplishments and impress friends and your next employer!</p>
            </div>
          </div>
          <div class='row mb-3'>
            <div class='col-2 col-md-1 text-center'> <i class='fa fa-check text-primary icon-2x'></i>
            </div>
            <div class='col-10 col-md-11 text-grey'>
              <h4 class='font-weight-bold text-white text-uppercase'>
                Teach the world about your conscious service or product!
              </h4>
              <p>Have something to say? Reach thousands of conscious enthusiasts in minutes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class='my-0' />
  <div class='bg-light py-3 py-lg-6 overlay overlay-white overlay-op-9' data-bg-img='https://picjumbo.imgix.net/HNCK2530.jpg?q=40&w=3000&sharp=40' data-css='{'background-attachment': 'fixed'}'>
<!--   <div class='container'>
      <h3>
        Skills Set
      </h3>
      <hr class='hr-lg m-0 hr-primary w-10' />
      <hr class='mt-0 mb-4 hr-blank' />
      <div class='row'>
        <div class='col-lg-6'>
          <div class='row align-items-center mb-4 no-gutters'>
            <div class='col-md-2 text-md-center'><i class='fa fa-fw icon-2x fa-html5 text-primary-dark'></i></div>
            <div class='col-md-10'>
              <h5 class='mt-0'>
                HTML5 (51%)
              </h5>
              <div class='progress'>
                <div class='progress-bar w-51' data-toggle='progress-bar-animated-progress' role='progressbar' aria-valuenow='51' aria-valuemin='0' aria-valuemax='100'></div>
              </div>
            </div>
          </div>
          <div class='row align-items-center mb-4 no-gutters'>
            <div class='col-md-2 text-md-center'><i class='fa fa-fw icon-2x fa-css3 text-primary-dark'></i></div>
            <div class='col-md-10'>
              <h5 class='mt-0'>
                CSS3 (95%)
              </h5>
              <div class='progress'>
                <div class='progress-bar w-95' data-toggle='progress-bar-animated-progress' role='progressbar' aria-valuenow='95' aria-valuemin='0' aria-valuemax='100'></div>
              </div>
            </div>
          </div>
          <div class='row align-items-center mb-4 no-gutters'>
            <div class='col-md-2 text-md-center'><i class='fa fa-fw icon-2x fa-linux text-primary-dark'></i></div>
            <div class='col-md-10'>
              <h5 class='mt-0'>
                System Admin (91%)
              </h5>
              <div class='progress'>
                <div class='progress-bar w-91' data-toggle='progress-bar-animated-progress' role='progressbar' aria-valuenow='91' aria-valuemin='0' aria-valuemax='100'></div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-6'>
          <div class='row align-items-center mb-4 no-gutters'>
            <div class='col-md-2 text-md-center'><i class='fa fa-fw icon-2x fa-android text-primary-dark'></i></div>
            <div class='col-md-10'>
              <h5 class='mt-0'>
                Android (51%)
              </h5>
              <div class='progress'>
                <div class='progress-bar w-51' data-toggle='progress-bar-animated-progress' role='progressbar' aria-valuenow='51' aria-valuemin='0' aria-valuemax='100'></div>
              </div>
            </div>
          </div>
          <div class='row align-items-center mb-4 no-gutters'>
            <div class='col-md-2 text-md-center'><i class='fa fa-fw icon-2x fa-windows text-primary-dark'></i></div>
            <div class='col-md-10'>
              <h5 class='mt-0'>
                Windows (95%)
              </h5>
              <div class='progress'>
                <div class='progress-bar w-95' data-toggle='progress-bar-animated-progress' role='progressbar' aria-valuenow='95' aria-valuemin='0' aria-valuemax='100'></div>
              </div>
            </div>
          </div>
          <div class='row align-items-center mb-4 no-gutters'>
            <div class='col-md-2 text-md-center'><i class='fa fa-fw icon-2x fa-github-alt text-primary-dark'></i></div>
            <div class='col-md-10'>
              <h5 class='mt-0'>
                GitHub (96%)
              </h5>
              <div class='progress'>
                <div class='progress-bar w-96' data-toggle='progress-bar-animated-progress' role='progressbar' aria-valuenow='96' aria-valuemin='0' aria-valuemax='100'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  -->
  </div>
</div>
