<div id='contact'>
  <div class='container p-4 py-lg-5'>
    <div data-animate='fadeIn' data-animate-duration='0.6'>
      <hr class='hr-lg mt-0 mb-3 w-10 mx-auto hr-primary' />
      <h2 class='text-center text-uppercase font-weight-bold my-0'>
        Contact Us if you want to teach the world about your conscious products or services!
      </h2>
      <h5 class='text-center font-weight-light mt-2 mb-0 text-muted'>
        Make contact about your next project
      </h5>
      <hr class='mb-5 w-50 mx-auto' />
    </div>
    <div class='row' data-animate='fadeIn' data-animate-delay='0.1'>
      <div class='col-md-12 mb-5'>
        <div class='google-map'>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.2010972806634!2d-117.33070268473628!3d33.13008107320618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc72f7229cf26d%3A0x3aa63e8805be474b!2s5205+Avenida+Encinas%2C+Carlsbad%2C+CA+92008!5e0!3m2!1sen!2sus!4v1517115922093" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <%= render '/layouts/new_frontpage/contact_form' %>
      <div class='col-md-5 offset-md-1 mt-4 mt-md-0' data-animate='fadeIn' data-animate-delay='0.4'>
        <h4 class='mb-1 font-weight-bold'>
          EQBotics
        </h4>
        <p class='mb-1'>
          <abbr title='Address'><i class='fa fa-home pr-2'></i></abbr> 5205 Avenida Encinas
        </p>
        <p class='mb-1'>
          <abbr title='Email'><i class='fa fa-envelope pr-2'></i></abbr> info@eqbotics.com
        </p>
        <p class='mb-0'>
          <abbr title='Phone'><i class='fa fa-phone pr-2'></i></abbr> 6199905013
        </p>
        <div class='bg-primary bg-shadow border-primary-darkend text-white p-4 pr-lg-6 mt-5 pos-relative'>
          <i class='fa fa-phone-square icon-10x icon-rotate-25 icon-bg icon-bg-r-ol icon-bg-b-ol op-3 text-white'></i>
          <h4 class='my-0 font-weight-bold text-uppercase'>
            Request a callback!
          </h4>
          <hr class='hr-lg my-2 ml-0 hr-white w-20' />
          <%= form_with(model: RequestCall.new, local: true) do |f| %>
            <div class='input-group'>
              <label class='sr-only' for='callback-number'>Your Number</label>
              <%= f.telephone_field :phone_number, placeholder: 'Your Number', class: 'form-control', required: 'required' %>
              <span class='input-group-btn'>
                <%= button_tag 'Get Callback', class: 'btn btn-dark', data: {disable_with: 'Please Wait...'} %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
