<div id='features' class='container py-4 py-lg-6'>
  <div data-animate='fadeIn' data-animate-duration='0.6'>
    <hr class='hr-lg mt-0 mb-3 w-10 mx-auto hr-primary' />
    <h2 class='text-center text-uppercase font-weight-bold my-0'>
      IT can't get better.
    </h2>
    <h5 class='text-center font-weight-light mt-2 mb-0 text-muted'>
      Bots that train your people!
    </h5>
    <hr class='mb-5 w-50 mx-auto' />
  </div>
  <div class='row text-center'>
    <div class='col-lg-4 py-2' data-animate='fadeIn' data-animate-delay='0.1'>
      <i class='fa fa-tachometer icon-5x text-primary'></i>
      <h4 class='mt-2'>
        Compliance and happy people in days.
      </h4>
      <p>Be online and up and running within days.</p>
    </div>
    <div class='col-lg-4 py-2' data-animate='fadeIn' data-animate-delay='0.2'>
      <i class='fa fa-wrench icon-5x text-primary'></i>
      <h4 class='mt-2'>
        Customize to your needs
      </h4>
      <p>You can easily add your own quizzes and additional questions (Biz plus).</p>
    </div>
    <div class='col-lg-4 py-2' data-animate='fadeIn' data-animate-delay='0.3'>
      <i class='fa fa-rocket icon-5x text-primary'></i>
      <h4 class='mt-2'>
        Strengthens company culture
      </h4>
      <p>By engaging your people into ongoing chat training that only needs to take up a few minutes per week, you will see improvement in the overall behavior and harmony in the workspace.</p>
    </div>
    <div class='col-lg-4 py-2' data-animate='fadeIn' data-animate-delay='0.4'>
      <i class='fa fa-line-chart icon-5x text-primary'></i>
      <h4 class='mt-2'>
        Productivity improvements
      </h4>
      <p>The positive attitude and behavior that is being trained will bring productivity gains by preventing natural friction before it occurs.</p>
    </div>
    <div class='col-lg-4 py-2' data-animate='fadeIn' data-animate-delay='0.5'>
      <i class='fa fa-smile-o icon-5x text-primary'></i>
      <h4 class='mt-2'>
        Happier customers
      </h4>
      <p>Learned patterns and attitudes will improve customer satisfaction. Imagine improving the emotional intelligence of your entire staff, the results can be amazing.</p>
    </div>
    <div class='col-lg-4 py-2' data-animate='fadeIn' data-animate-delay='0.6'>
      <i class='fa fa-plug icon-5x text-primary'></i>
      <h4 class='mt-2'>
        Get started today
      </h4>
      <p>Simply contact us and get up and running with a free trial.</p>
    </div>
  </div>
</div>
