<!-- @plugin: page loading indicator, delete to remove loader -->
<!-- <div class='page-loader' data-toggle='page-loader'></div> -->

<a href='#content' id='top' class='sr-only'>Skip to content</a>

<!-- ======== @Region: #header ======== -->
<div id='header'>

  <div data-toggle='sticky'>

    <!--Header search region - hidden by default -->
    <div class='header-search collapse' id='search'>
      <form class='search-form container'>
        <input type='text' name='search' class='form-control search' value='' placeholder='Search'>
        <button type='button' class='btn btn-link'><span class='sr-only'>Search </span><i class='fa fa-search fa-flip-horizontal search-icon'></i></button>
        <button type='button' class='btn btn-link close-btn' data-toggle='search-form-close'><span class='sr-only'>Close </span><i class='fa fa-times search-icon'></i></button>
      </form>
    </div>

    <!--Header & Branding region-->
    <div class='header header-transparent header-dark sticky-header-light sticky-bg-light'>
      <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.htm) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & 'float' on larger screens use .order-first or/and .order-last classes to make an element show first or last within .header-inner or .headr-block elements -->
      <div class='header-inner container'>
        <!--branding/logo -->
        <div class='header-brand'>
          <a class='header-brand-text' href='/' title='Home'>
            <h1 class='h2'>
              <span class='header-brand-text-alt'>EQ</span>Botics<span class='header-brand-text-alt'>.</span>
            </h1>
          </a>
          <div class='header-divider d-none d-lg-block'></div>
          <div class='header-slogan d-none d-lg-block'>From awareness to action</div>
        </div>
        <!-- other header content -->
        <div class='header-block order-lg-12'>

          <!--Search trigger -->
          <!-- <a href='#search' class='btn btn-icon btn-link text-white sticky-text-dark header-btn float-right order-11' data-toggle='search-form' data-target='.header-search'><i class='fa fa-search fa-flip-horizontal search-icon'></i></a> -->

          <!-- mobile collapse menu button - data-toggle='collapse' = default BS menu - data-toggle='jpanel-menu' = jPanel Menu - data-toggle='overlay' = Overlay Menu -->
          <a href='#top' class='btn btn-link btn-icon text-white sticky-text-dark header-btn float-right d-lg-none' data-toggle='collapse' data-target='.navbar-main' data-direction='right'> <i class='fa fa-bars'></i> </a>
        </div>

        <div class='navbar navbar-expand-md navbar-expand-collapse navbar-static-top'>
          <!--everything within this div is collapsed on mobile-->
          <div class='navbar-main collapse'>
            <!--main navigation-->
            <ul class='nav navbar-nav navbar-nav-onepager'>
              <li class='nav-item'>
                <a href='#top' data-toggle='scroll-link' class='nav-link'> <i class='fa fa-home nav-link-icon'></i> <span class='d-none'>Home</span> </a>
              </li>

              <li class='nav-item'> <a href='#about' data-toggle='scroll-link' class='nav-link'> About </a> </li>
              <li class='nav-item'> <a href='#features' data-toggle='scroll-link' class='nav-link'> Features </a> </li>
            <!--  <li class='nav-item'> <a href='#pricing' data-toggle='scroll-link' class='nav-link'> Pricing </a> </li> -->
              <li class='nav-item'> <a href='#contact' data-toggle='scroll-link' class='nav-link'> Contact </a> </li>

            <% if current_user.present? %>
              <li class='nav-item'><%= link_to 'Dashboard', dashboard_path, class: 'nav-link', data: {toggle: 'scroll-link'} %></li>
              <li class='nav-item'><%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: :delete, data: {toggle: 'scroll-link'} %></li>
            <% else %>
             <li class='nav-item'><%= link_to 'Sign In', new_user_session_path, class: 'nav-link', data: {toggle: 'scroll-link'} %></li> 
             <li class='nav-item'><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link', data: {toggle: 'scroll-link'} %></li>
            <% end %>

            </ul>
          </div>
          <!--/.navbar-collapse -->
        </div>
      </div>
    </div>
  </div>
</div>
