<!-- ======== @Region: #highlighted ======== -->
<div id='highlighted'>
  <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height add the attributes: data-toggle='full-height' data-offset='#header' -->
  <div class='bg-white overlay overlay-op-6 text-center px-3 py-5 py-lg-10 flex-valign' data-bg-img='/backgrounds/faces.jpg' data-css='{'background-position': 'center bottom'}'>
    <h2 class='display-4 text-white' data-animate='fadeIn' data-animate-delay='0.2'>
       <span class='font-weight-bold'>E-Learning for a better world!</span><br />
       <span> Claim your first badge FREE in less than 10 minutes!</span>
    </h2>
   <!-- <h3 class='text-grey font-weight-normal' data-animate='fadeIn' data-animate-delay='0.35'>
      Create trainings and tutorials for your customers, employees or students that are fun!
    </h3> -->
    <hr class='hr-primary hr-lg w-20 mx-auto my-4' data-animate='fadeIn' data-animate-delay='0.45' />
    <div> <a href='https://www.eqbotics.com/users/sign_up' class='btn btn-primary btn-rounded btn-lg py-lg-3 px-lg-5' data-toggle='scroll-link' data-animate='fadeIn' data-animate-delay='0.55'>I want to earn cool badges!</a>
    </div><br />
    <div> <a href='#contact' class='btn btn-primary btn-rounded btn-lg py-lg-3 px-lg-5' data-toggle='scroll-link' data-animate='fadeIn' data-animate-delay='0.55'>I want to teach about my conscious business</a>
    </div><br />
  </div>
</div>
