<div class='p-3 text-center text-lg-left bg-dark text-white overlay overlay-primary overlay-op-9' data-animate='fadeIn' data-bg-img='/backgrounds/zfg9gz7ylcu-dalibor-bosnjakovic.jpg'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 col-lg-7 py-2'>
        <h3 class='text-uppercase font-weight-bold mt-0 mb-2'>
          We're Hiring!
        </h3>
        <h5 class='mb-0'>
          We're looking for talented PHP & Wordpress Developers to join our growing team.
        </h5>
      </div>
      <div class='col-12 col-lg-5 py-2 text-lg-right'>
        <a href='https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=themelizeme' class='btn btn-lg btn-rounded btn-primary px-4'>Join Us <i class='fa fa-thumbs-up ml-2'></i></a>
      </div>
    </div>
  </div>
</div>
