<div id='pricing' class='bg-light py-3 py-lg-6'>
  <div class='container'>
    <div data-animate='fadeIn' data-animate-duration='0.6'>
      <hr class='hr-lg mt-0 mb-3 w-10 mx-auto hr-primary' />
      <h2 class='text-center text-uppercase font-weight-bold my-0'>
        Pricing Plans
      </h2>
      <h5 class='text-center font-weight-light mt-2 mb-0 text-muted'>
        Enjoy as long as you want, cancel at any time. No shenanigans or fine print nobody can read in a lifetime. 
      </h5>
      <hr class='mb-5 w-50 mx-auto' />
    </div>
    <div class='row pricing-stack'>
      <div class='col-md-4' data-animate='fadeIn' data-animate-delay='0.2'>
        <div class='card bg-shadow text-center rounded'>
          <h3 class='card-title py-3 text-shadow'>
            Tester
          </h3>
          <p class='price-banner border-grey card-body-overlap'> <span class='text-fancy price-digits'>Free!</span>
          </p>
          <div class='card-body'>
            <ul class='list-unstyled list-border-dots'>
              <li>15 days</li>
              <li>10 users</li>
              <li>Amazing training</li>
            </ul>
            <a href='#contact' class='btn btn-primary btn-block btn-rounded mt-4'>Get early access</a>
          </div>
        </div>
      </div>
      <div class='col-md-4' data-animate='fadeIn' data-animate-delay='0.3'>
        <div class='card bg-white bg-shadow text-center card-outline-primary'>
                  <div class='card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white'>Popular</div>

          <h3 class='card-title py-3 text-shadow'>
            <span class='em'>Pro</span> <span class='text-fancy'>Plus</span>
          </h3>
          <p class='price-banner bg-primary text-white border-primary card-body-overlap'>
            <span class='price-currency'>$</span>
            <span class='price-digits'>9<span>.00</span></span>
            <span class='price-extra'>/user mo.</span>

          </p>
          <div class='card-body'>
            <ul class='list-unstyled list-border-dots'>
              <li>$99 Setup Fee</li>
              <li>Unlimited Accounts</li>
              <li>Cancel anytime</li>
              <li>Management Dashboard</li>
              <li>Amazing training</li>
              <li><strong>Create your own training</strong></li>

            </ul>
            <a href='#contact' class='btn btn-primary btn-block btn-rounded mt-4'>Get early access</a>
          </div>
        </div>
      </div>
      <div class='col-md-4' data-animate='fadeIn' data-animate-delay='0.4'>
        <div class='card bg-white bg-shadow text-center card-outline-primary'>
          <h3 class='card-title py-3 text-shadow'>
            <span class='em'>Biz</span> <span class='text-fancy'>Plus</span>
          </h3>
          <p class='price-banner bg-primary text-white border-primary card-body-overlap'>
            <span class='price-currency'>$</span>
            <span class='price-digits'>15<span>.00</span></span>
            <span class='price-term'>/user mo</span>

          </p>
          <div class='card-body'>
            <ul class='list-unstyled list-border-dots'>
             <li>Ask for Setup Cost</li>
              <li>Unlimited Accounts</li>
              <li>Cancel anytime</li>
              <li>Management Dashboard</li>
              <li>Amazing training</li>
              <li><strong>Create your own training</strong></li>
              <li>Integration services available</li>
            </ul>
            <a href='#contact' class='btn btn-primary btn-block btn-rounded mt-4'>Get early access</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Plan features -->
    <div class='bg-grey bg-shadow py-3 mt-4 text-center' data-animate='fadeInUp' data-animate-duration='1.2' data-animate-offset='100%'>
     <!--> <h4 class='d-inline-block pr-1 my-0'>
        <span>All Plans <span class='font-weight-normal text-muted'>Include</span>:</span>
      </h4> -->
      <p class='d-inline-block text-muted my-0'>The most amazing support team! <span class='text-primary font-weight-bold'>//</span> Cancel anytime <span class='text-primary font-weight-bold'>//</span> More harmony for all 
        </p>
    </div>
  </div>
</div>
