<div id='testimonials' class='p-3 py-lg-6 bg-dark'>
  <div class='container'>
    <div data-animate='fadeIn' data-animate-duration='0.6'>
      <hr class='hr-lg mt-0 mb-3 w-10 mx-auto hr-primary' />
      <h2 class='text-white text-center text-uppercase font-weight-bold my-0'>
        Highly Recommended
      </h2>
      <h5 class='text-center font-weight-light mt-2 mb-0 text-grey'>
        99% of our customers recommend us!
      </h5>
      <hr class='mb-5 w-50 mx-auto' />
    </div>
    <div class='row'>
      <div class='col-md-4 d-md-flex'>
        <blockquote class='blockquote-bubble text-center' data-animate='fadeIn' data-animate-delay='0.1'>
          <p class='blockquote-bubble-content bg-white'>'It's totally awesome, we're could imagine life without it!'</p>
          <small class='text-grey'>
            <img alt="Jimi Bloggs" class="rounded-circle mr-2" src="/team/jimi.jpg">
            Jimi Bloggs <span class='text-primary font-weight-bold'>/</span>
            <a href='#'>@mrjimi</a>
          </small>
        </blockquote>
      </div>
      <div class='col-md-4 d-md-flex'>
        <blockquote class='blockquote-bubble text-center' data-animate='fadeIn' data-animate-delay='0.2'>
          <p class='blockquote-bubble-content bg-white text-center'>'10 out of 10, highly recommended!'</p>
          <small class='text-grey'>
            <img alt="Jimi Bloggs" class="rounded-circle mr-2" src="/team/steve.jpg">
            Steve Bloggs <span class='text-primary font-weight-bold'>/</span>
            <a href='#'>Founder of Apple</a>
          </small>
        </blockquote>
      </div>
      <div class='col-md-4 d-md-flex'>
        <blockquote class='blockquote-bubble text-center' data-animate='fadeIn' data-animate-delay='0.3'>
          <p class='blockquote-bubble-content bg-white text-center'>'Our productivity & sales are up! Couldn't be happier with this product!'</p>
          <small class='text-grey'>
            <img alt="Jimi Bloggs" class="rounded-circle mr-2" src="/team/adele.jpg">
            Adele Bloggs <span class='text-primary font-weight-bold'>/</span>
            <a href='#'>@iamadele</a>
          </small>
        </blockquote>
      </div>
    </div>
  </div>
</div>
