<div class='p-3 p-lg-5 bg-light text-center' data-bg-video='/videos/bubbles.mp4' data-animate='fadeIn'>
  <div class='container'>
    <h2 class='text-white display-4 text-shadow'>
      E-Learning<span class='font-italic font-weight-bold'> that creates</span> a better world!
    </h2>
    <a href='#contact' class='btn btn-xlg btn-rounded btn-primary mt-4'>Want to teach the world about your green product or service?</a>
  </div>
</div>
