<div id='inSlider' class='carousel carousel-fade' data-ride='carousel'>
  <ol class='carousel-indicators'>
    <li data-target='#inSlider' data-slide-to='0' class='active'></li>
    <li data-target='#inSlider' data-slide-to='1'></li>
  </ol>
  <div class='carousel-inner' role='listbox'>
    <div class='item active'>
      <div class='container'>
        <div class='carousel-caption'>
          <h1>
            Chatbots mit K&uuml;nstlicher Intelligenz<br/>trainieren ihre Angesellten<br/>
            in Cyber Security<br/>
          </h1>
          <p>Sch&auml;rfen der Sinne!</p>
          <p>
            <a href='mailto:info@hawkmatrix.com' class='btn btn-primary'>30 Tage kostenlos testen?</a>
          </p>
        </div>
        <div class='carousel-image wow zoomIn'>
          <%= image_tag('landing/laptop.png', alt: 'laptop')%>
        </div>
      </div>
      <div class='header-back one'></div>
    </div>
    <div class='item'>
      <div class='container'>
        <div class='carousel-caption blank'>
          <h1>Chat basiertes <br/> Sicherheitstraining f&uuml;r ihre Angestellten.</h1>
          <p>Verf&uuml;gbar auf Skype, Slack, Facebook und anderen Platformen.</p>
          <a href='mailto:info@hawkmatrix.com' class='btn btn-primary'>30 Tage kostenlos testen?</a>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class='header-back two'></div>
    </div>
  </div>
  <a class='carousel-control left' href='#inSlider' role='button' data-slide='prev'>
    <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
    <span class='sr-only'>Zur&uuml;ck</span>
  </a>
  <a class='carousel-control right' href='#inSlider' role='button' data-slide='next'>
    <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
    <span class='sr-only'>Vor</span>
  </a>
</div>