<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Kontaktieren sie uns</h1>
        <a href="mailto:info@hawkmatrix.com    " class="btn btn-primary">Email Us</a>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong><span class="navy">HawkMatrix, Inc.</span></strong><br/>
          8736 Production Ave. Suite B<br/>
          San Diego, CA 92121<br/>
          <abbr title="Phone">P:</abbr> +1(858) 877-6554
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color">
          Cyber Security Training via Chat.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:info@hawkmatrix.com    " class="btn btn-primary">Email Us</a>
        <p class="m-t-sm">
          <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
          <script type="IN/FollowCompany" data-id="6405033" data-counter="right"></script>
        </p>
        <ul class="list-inline social-icon">
          <li>
            <a href="https://twitter.com/hawkmatrix" target="_blank" >
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2015 - 2017 HawkMatrix, Inc., Patent pending technology</strong><br/> </p>
      </div>
    </div>
  </div>
</section>