<section  class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>
      	Erh&ouml;hen sie das Sicherheitsbewu&szlig;tsein ihrer Mitarbeiter.<br/>
      	<span class="navy">Vorbeugen ist besser als heilen!</span>
      </h1>
      <p>
      	Die Medien sind voll mit Berichten von Firmen in Not durch Cyber Crime. Werden sie nicht das n&auml;chste Opfer. Beugen sie jetzt vor! <br />
			</p>
    </div>
  </div>
</section>
