<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2>CYBER CRIME TRAINING</h2>
      <p>Trainieren sie ihre Angstellten via Skype/Office365 Teams/Facebook Messenger oder Slack!</p>
    </div>
    <div class="col-sm-3">
      <h2>Gamified!</h2>
      <p>Lernen macht Spa&zlig;! Ihre Mitarbeiter werden durch Punkte und Auszeichnungen spielerisch belohnt.</p>
    </div>
    <div class="col-sm-3">
      <h2>Security &Uuml;berblick</h2>
      <p>Das System erm&ouml;glicht einen jederzeitigen Einblick in die Sicherheitsbereitschaft ihrer Mitarbeiter.</p>
    </div>
    <div class="col-sm-3">
      <h2>Kaum Arbeitsunterbrechung durch Training</h2>
      <p>Es m&uuml;ssen keine Unterbrechungen geplant werden. Das Training findet in der Regel in weniger als 2 Minuten pro Tag statt und hat nachhaltigen Effekt.</p>
    </div>
  </div>
</section>
