<section id='testimonials' class='navy-section testimonials' style='margin-top: 0'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center wow zoomIn'>
        <i class='fa fa-comment big-icon'></i>
        <h1>What our users say</h1>
        <div class='testimonials-text'>
          <i>'Our entire industry has become more safe over night by rolling out HawkMatrix cyber security training to all of our 700 member companies'</i>
        </div>
        <small>
          <strong>Kurt-Juergen Schimmelpfeng, Attorney at law</strong>
        </small>
      </div>
    </div>
  </div>
</section>