<!DOCTYPE html>
<html>
<head>
  <title>Apphera API</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>

</head>
<body>
<div class="container body-content">
  <div class="jumbotron">
    <h1>Apphera API</h1>
    <hr/>
    <h2>API delivered AngularJS dashboard coming soon. Please visit <a href="http://www.apphera.com">Apphera</a>
    </h2>
    <hr/>
    You find the api endpoints at https://api.apphera.com/api/v1/
  </div>
</div>
</body>
</html>
