<h1>Home</h1>

To begin your training via Skype you just need to become a friend with the Hawkmatrix bot and paste the below token into the chat:

<p>
HawkMatrix Bot is a personal cyber security coach that helps you and your employees to heighten the awareness for threats the may compromise the security of your business.
Here is the join link <a href="https://join.skype.com/bot/91334bff-5f8a-4cc8-b7d1-eaaed65b2b69">https://join.skype.com/bot/91334bff-5f8a-4cc8-b7d1-eaaed65b2b69</a><p>

<h2><%= @token %></h2>