<div class='about-us-container section-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 about-us section-description wow fadeIn'>
        <h2>About Us</h2>
        <div class='divider-1'><div class='line'></div></div>
        <p class='medium-paragraph'>
          We are a team of experienced big data and AI pioneers.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-4 about-us-box wow fadeInUp'>
        <div class='about-us-photo'>
          <%= image_tag('home/about/1.jpg', alt: 'john-doe', 'data-at2x'=> 'home/about/1.jpg') %>
          <div class='about-us-role'>Research and Development</div>
        </div>
        <h3>Nikolai Manek</h3>
        <p>25 years of executive Internet experience.</p>
        <div class='about-us-social'>
          <!--<a href='#'><i class='fa fa-facebook'></i></a>
          <a href='#'><i class='fa fa-twitter'></i></a>
          <a href='#'><i class='fa fa-google-plus'></i></a>-->
        </div>
      </div>
      <div class='col-sm-4 about-us-box wow fadeInDown'>
        <div class='about-us-photo'>
          <%= image_tag('home/about/3.jpg', alt: 'tim-brown', 'data-at2x' => 'home/about/3.jpg') %>
          <div class='about-us-role'>Executive VP</div>
        </div>
        <h3>Katerina Archangorodskaja</h3>
        <p>10+ years of executive IT experience</p>
        <div class='about-us-social'>
          <!--<a href='#'><i class='fa fa-facebook'></i></a>
          <a href='#'><i class='fa fa-dribbble'></i></a>
          <a href='#'><i class='fa fa-pinterest'></i></a>-->
        </div>
      </div>

      <div class='col-sm-4 about-us-box wow fadeInUp'>
        <div class='about-us-photo'>
          <%= image_tag('home/about/2.jpg', alt: 'sarah-red', 'data-at2x' => 'home/about/2.jpg') %>
        <div class='about-us-role'>Executive VP</div>
      </div>

      <h3>Brian Abe</h3>
      <p>10+ years of executive IT experience</p>
      <!--<div class='about-us-social'>
        <a href='#'><i class='fa fa-facebook'></i></a>
        <a href='#'><i class='fa fa-github'></i></a>
        <a href='#'><i class='fa fa-instagram'></i></a>
      </div>-->
      </div>
    </div>
  </div>
</div>
