<div class='call-to-action-container section-container section-container-image-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 call-to-action section-description wow fadeInLeft'>
        <h2>Bots that train your employees, partners and customers.</h2>
        <p>
          The new gamified way to learn! In only a few minutes per day your audience will turn into subject matter experts thanks to leading edge fun and engaging learning methods.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12 section-bottom-button wow fadeInUp'>
        <a class='btn btn-link-1 scroll-link' href='#top-content'>
          Contact Us Now <i class='fa fa-angle-right'></i>
        </a>
      </div>
    </div>
  </div>
</div>
