<div class='features-container section-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 features section-description wow fadeIn'>
        <h2>Main Features</h2>
        <div class='divider-1'><div class='line'></div></div>
        <p class='medium-paragraph'>
          Your employees, partners and customers will become experts.
        </p>
      </div>
    </div>
    <div class='row'>

      <div class='col-sm-4 features-box wow fadeInUp'>
        <div class='features-box-icon'><i class='fa fa-thumbs-up'></i></div>
        <h3>Easy To Use</h3>
        <p>Our concept builder makes bot creation simple.</p>
      </div>

      <div class='col-sm-4 features-box wow fadeInDown'>
        <div class='features-box-icon'><i class='fa fa-cog'></i></div>
        <h3>Multi platform</h3>
        <p>Bots run on Skype, Facebook, Slack, Kick and many other platforms.</p>
      </div>

      <div class='col-sm-4 features-box wow fadeInUp'>
        <div class='features-box-icon'><i class='fa fa-comment'></i></div>
        <h3>Custom bots</h3>
        <p>Want your bot do awesome 'tricks'? No problem.</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-4 features-box wow fadeInDown'>
        <div class='features-box-icon'><i class='fa fa-magic'></i></div>
        <h3>Multiple Languages</h3>
        <p>Roll out globally.</p>
      </div>

      <div class='col-sm-4 features-box wow fadeInUp'>
        <div class='features-box-icon'><i class='fa fa-video-camera'></i></div>
        <h3>Turn into mobile app</h3>
        <p>Quizbots can be deployed on Android and iTunes to utilize the app stores.</p>
      </div>

      <div class='col-sm-4 features-box wow fadeInDown'>
        <div class='features-box-icon'><i class='fa fa-instagram'></i></div>
        <h3>Have us do magic</h3>
        <p>Let our team create ideas/concepts for you.</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12 section-bottom-button wow fadeInUp'>
        <a class='btn btn-link-1 scroll-link' href='#top-content'>Contact Us <i class='fa fa-angle-right'></i></a>
      </div>
    </div>

  </div>
</div>
