<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 footer-about wow fadeInUp'>
        <h3>About Us</h3>
        <p>
          Train your employees, partners and customers.
        </p>
      </div>
      <div class='col-sm-4 footer-contact-info wow fadeInDown'>
        <h3>Contact Info</h3>
        <p>
          <i class='fa fa-map-marker'></i>
          8736 Production Ave. Suite B, San Diego, CA 92121
        </p>
       
      </div>
      <!--<div class='col-sm-4 footer-social wow fadeInUp'>
        <h3>We're Social</h3>
        <p>
          We are also very active in social media, trying to answer all the questions you might have.
          Check out our accounts:
        </p>
        <p>
          <a href='https://www.facebook.com/eqbotics'><i class='fa fa-facebook'></i></a>
          <a href='#'><i class='fa fa-twitter'></i></a>
          <a href='#'><i class='fa fa-instagram'></i></a>
          <a href='#'><i class='fa fa-pinterest'></i></a>
        </p>
      </div>-->
    </div>
    <div class='row'>
      <div class='col-sm-5 footer-copyright'>
          <a href='http://www.manek.com'>EQBotics.,  is a Manek Dynamics, LLC. company.</a>
      </div>
      <div class='col-sm-7 footer-menu'>
        <ul>
          <li>Go to:</li>
          <li><a href='/'>Home</a></li>
          <li><a href='/'>Features</a></li>
          <li><a href='/'>How it works</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
