<div class='great-support-container section-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 great-support section-description wow fadeIn'>
        <h2>Great Support</h2>
        <div class='divider-1'><div class='line'></div></div>
        <p class='medium-paragraph'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-5 great-support-box wow fadeInLeft'>
        <img src='assets/img/devices/pc2.png' alt='pc2'>
      </div>
      <div class='col-sm-7 great-support-box wow fadeInUp'>
        <div class='great-support-box-text'>
          <h3>24/7 Support For Every Question</h3>
          <p class='medium-paragraph'>
            Ut wisi enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Ut wisi <a href='#'>enim ad minim</a> veniam, quis nostrud.
            Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>