<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#top-navbar-1'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' style='text-indent: 0;' href='/'>EQBotics</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class='collapse navbar-collapse' id='top-navbar-1'>
      <ul class='nav navbar-nav navbar-right'>
       
        <% unless ['privacy'].include?(controller.action_name) %>
          <li><a class='btn btn-link-3' href='/'>HOME</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
