<div class='how-it-works-container section-container section-container-image-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 how-it-works section-description wow fadeIn'>
        <h2>How It Works</h2>
        <div class='divider-1'><div class='line'></div></div>
        <p class='medium-paragraph'>
          Bots that teach, train and convince.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp'>
        <div class='how-it-works-number'>1</div>
        <h3>Contact Us</h3>
        <p>Contact us via Email.</p>
      </div>
      <div class='col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown'>
        <div class='how-it-works-number'>2</div>
        <h3>Strategy</h3>
        <p>Together we create a strategy.</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp'>
        <div class='how-it-works-number'>3</div>
        <h3>Testing</h3>
        <p>Test your bot internally.</p>
      </div>
      <div class='col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown'>
        <div class='how-it-works-number'>4</div>
        <h3>Launch</h3>
        <p>Your bot goes live!</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12 section-bottom-button wow fadeInUp'>
        <a class='btn btn-link-1 scroll-link' href='#top-content'>Contact Us <i class='fa fa-angle-right'></i></a>
      </div>
    </div>
  </div>
</div>
