<div class='modal fade' id='modal-terms' tabindex='-1' role='dialog' aria-labelledby='modal-terms-label' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span>
        </button>
        <h2 class='modal-title' id='modal-terms-label'>Terms and Conditions</h2>
      </div>
      <div class='modal-body'>
        <p>Please read carefully the terms and conditions for using our product below:</p>
        <h3>1. Dolor sit amet</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
        <ul>
          <li>Easy To Use</li>
          <li>Awesome Design</li>
          <li>Cloud Based</li>
        </ul>
        <p>
          Ut wisi enim ad minim veniam, <a href='#'>quis nostrud exerci tation</a> ullamcorper suscipit lobortis nisl ut aliquip ex ea
          commodo consequat nostrud tation.
        </p>
        <h3>2. Sed do eiusmod</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
        <h3>3. Nostrud exerci tation</h3>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
          commodo consequat nostrud tation.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn' data-dismiss='modal'>I Read it &amp; I Agree</button>
      </div>
    </div>
  </div>
</div>
