<div class='more-features-container section-container section-container-gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 more-features section-description wow fadeIn'>
        <h2>What it does</h2>
        <div class='divider-1'><div class='line'></div></div>
        <p class='medium-paragraph'>
          It trains and/or educates your employees, partners or customers
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-7 more-features-box wow fadeInLeft'>
        <div class='more-features-box-text'>
          <div class='more-features-box-text-icon'><i class='fa fa-paperclip'></i></div>
          <h3>People interact and learn</h3>
          <div class='more-features-box-text-description'>
            In only minutes per day your employees, partners or customers will become experts in topics you are trying to teach. Educate your customers on the usage of your products and make them your biggest fans. Help your employees to become cyber security experts or turn your parners into most knowledgable experts about your products.
          </div>
        </div>
        <div class='more-features-box-text'>
          <div class='more-features-box-text-icon'><i class='fa fa-user'></i></div>
          <h3>On all major chat platforms</h3>
          <div class='more-features-box-text-description'>
            Deploy your chat bots on all major platforms simultatiously. Make it easy for your employees, partners or customers to become "friend" with your bot in seconds and begin to interacting with your bot. You can even turn it into a mobile app and deploy and market it on the iTunes or Android app stores.
          </div>
        </div>
      </div>
      <div class='col-sm-5 more-features-box wow fadeInUp'>
        <%= image_tag('home/devices/pc.png', alt: 'pc') %>
      </div>
    </div>
  </div>
</div>