<div class='pricing-container section-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 pricing section-description wow fadeIn'>
        <h2>Plans &amp; Pricing</h2>
        <div class='divider-1'><div class='line'></div></div>
        <p class='medium-paragraph'>
          Below you can see our plans &amp; pricing and choose the one that suits you best.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-4 pricing-box wow fadeInUp'>
        <div class='pricing-box-inner'>
          <div class='pricing-box-price'>
            <span>$ </span><strong>1,999</strong>
            <span> / One Time</span>
          </div>
          <h3>On Site</h3>
          <h4>Publishers</h4>
          <div class='pricing-box-features'>
            <ul>
              <li>Source Code</li>
              <li>Support</li>
              <li>On Site/Cloud install</li>
            </ul>
          </div>
          <div class='pricing-box-sign-up'>
            <a class='btn btn-link-1 scroll-link' href='#top-content'>Contact Us <i class='fa fa-angle-right'></i></a>
          </div>
        </div>
      </div>

      <div class='col-sm-4 pricing-box pricing-box-best wow fadeInDown'>
        <div class='pricing-box-inner'>
          <div class='pricing-box-price'>
            <span>$ </span><strong>3,999</strong><span> / One Time</span>
          </div>
          <h3>White Label</h3>
          <h4>For Providers</h4>
          <div class='pricing-box-features'>
            <ul>
              <li>Full Source Code</li>
              <li>White label and API</li>
              <li>On Site/Cloud install</li>
            </ul>
          </div>
          <div class='pricing-box-sign-up'>
            <a class='btn btn-link-1 scroll-link' href='#top-content'>Contact Us <i class='fa fa-angle-right'></i></a>
          </div>
        </div>
      </div>

      <div class='col-sm-4 pricing-box wow fadeInUp'>
        <div class='pricing-box-inner'>
          <div class='pricing-box-price'>
            <span> </span><strong>Contact Us</strong><span></span>
          </div>
          <h3>Custom</h3>
          <h4>Custom Solution</h4>
          <div class='pricing-box-features'>
            <ul>
              <li>Source Code</li>
              <li>Customized solution</li>
              <li>On Site/Cloud install</li>
            </ul>
          </div>
          <div class='pricing-box-sign-up'>
            <a class='btn btn-link-1 scroll-link' href='#top-content'>
              Contact Us <i class='fa fa-angle-right'></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
