<div class='testimonials-container section-container section-container-image-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 testimonials section-description wow fadeIn'>
        <h2>Testimonials</h2>
        <div class='divider-1'><div class='line'></div></div>
        <p class='medium-paragraph'>
          Take a look below to read what our clients have said about us:
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp'>
        <div role='tabpanel'>-->
          <!-- Tab panes -->
          <div class='tab-content'>
            <div role='tabpanel' class='tab-pane fade in active' id='tab1'>
              <div class='testimonial-image'>
                <%= image_tag('home/testimonials/1.jpg', alt: 't1', 'data-at2x' => 'home/testimonials/1.jpg') %>
              </div>
              <div class='testimonial-text'>
                <p>
                  'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                  Lorem ipsum dolor sit amet, consectetur...'<br>
                  <a href='#'>Lorem Ipsum, dolor.co.uk</a>
                </p>
              </div>
            </div>
            <div role='tabpanel' class='tab-pane fade' id='tab2'>
              <div class='testimonial-image'>
                <%= image_tag('home/testimonials/2.jpg', alt: 't2', 'data-at2x' => 'home/testimonials/2.jpg' ) %>
              </div>
              <div class='testimonial-text'>
                <p>
                  'Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                  ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                  lobortis nisl ut aliquip ex ea commodo consequat...'<br>
                  <a href='#'>Minim Veniam, nostrud.com</a>
                </p>
              </div>
            </div>
            <div role='tabpanel' class='tab-pane fade' id='tab3'>
              <div class='testimonial-image'>
                <%= image_tag('home/testimonials/3.jpg', alt: 't3', 'data-at2x' => 'home/testimonials/3.jpg' ) %>
              </div>
              <div class='testimonial-text'>
                <p>
                  'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                  Lorem ipsum dolor sit amet, consectetur...'<br>
                  <a href='#'>Lorem Ipsum, dolor.co.uk</a>
                </p>
              </div>
            </div>
            <div role='tabpanel' class='tab-pane fade' id='tab4'>
              <div class='testimonial-image'>
                <%= image_tag('home/testimonials/4.jpg', alt: 't4', 'data-at2x' => 'home/testimonials/4.jpg') %>
              </div>
              <div class='testimonial-text'>
                <p>
                  'Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                  ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                  lobortis nisl ut aliquip ex ea commodo consequat...'<br>
                  <a href='#'>Minim Veniam, nostrud.com</a>
                </p>
              </div>
            </div>
          </div>
          <!-- Nav tabs -->
          <ul class='nav nav-tabs' role='tablist'>
            <li role='presentation' class='active'>
              <a href='#tab1' aria-controls='tab1' role='tab' data-toggle='tab'></a>
            </li>
            <li role='presentation'>
              <a href='#tab2' aria-controls='tab2' role='tab' data-toggle='tab'></a>
            </li>
            <li role='presentation'>
              <a href='#tab3' aria-controls='tab3' role='tab' data-toggle='tab'></a>
            </li>
            <li role='presentation'>
              <a href='#tab4' aria-controls='tab4' role='tab' data-toggle='tab'></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
