<div class='video-container section-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-5 video-box'>
        <div class='embed-responsive embed-responsive-16by9'>
          <iframe class='embed-responsive-item' src='https://player.vimeo.com/video/115014610?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=42bfc2' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class='col-sm-6 col-sm-offset-1 video-box video-box-right wow fadeInUp'>
        <h3>An Inside Look To Our Course!</h3>
        <p class='medium-paragraph'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
        </p>
        <p>
          Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Ut wisi enim ad minim veniam, quis nostrud.
        </p>
        <p>
          <a class='learn-more scroll-link' href='#top-content'>Contact Us Now</a>
        </p>
      </div>
    </div>
  </div>
</div>
