// -------------------------------------------
// Extended width & height utils
// -------------------------------------------

// Respinsive row widths/height variations (5-100% in steps of 5)
// @see: elements-spacers.htm
// -------------------------------------------
@each $breakpoint in map-keys($grid-breakpoints) {
  @each $prop, $abbrev in (width: w, height: h) {
    @each $size, $length in $sizes {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
        .#{$abbrev}#{$infix}-auto {
          #{$prop}: auto !important;
        }
      }
    }
  }
}