<div id='inSlider' class='carousel carousel-fade' data-ride='carousel'>
  <ol class='carousel-indicators'>
    <li data-target='#inSlider' data-slide-to='0' class='active'></li>
    <li data-target='#inSlider' data-slide-to='1'></li>
  </ol>
  <div class='carousel-inner' role='listbox'>
    <div class='item active'>
      <div class='container'>
        <div class='carousel-caption'>
          <h1>
            AI Driven Chat Bots<br/>that train your employees<br/>
            in Cyber Security<br/>
          </h1>
          <p>Raising Security Awareness</p>
          <p>
            <a href='mailto:info@hawkmatrix.com' class='btn btn-primary'>Email Us For Test Drive</a>
          </p>
        </div>
        <div class='carousel-image wow zoomIn'>
          <%= image_tag('landing/laptop.png', alt: 'laptop')%>
        </div>
      </div>
      <div class='header-back one'></div>
    </div>
    <div class='item'>
      <div class='container'>
        <div class='carousel-caption blank'>
          <h1>Chat based <br/> security training for your employees.</h1>
          <p>Available via Skype, slack, facebook and other platforms.</p>
          <a href='mailto:info@hawkmatrix.com' class='btn btn-primary'>Email Us For Test Drive</a>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class='header-back two'></div>
    </div>
  </div>
  <a class='carousel-control left' href='#inSlider' role='button' data-slide='prev'>
    <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
    <span class='sr-only'>Previous</span>
  </a>
  <a class='carousel-control right' href='#inSlider' role='button' data-slide='next'>
    <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
    <span class='sr-only'>Next</span>
  </a>
</div>