<section  class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>
      	Raise the security awareness of your people.<br/>
      	<span class="navy"> Create a stronger cyber defense!</span>
      </h1>
      <p>
      	The press is filled with reports about high profile cyber attacks via spear phishing, social engineering and other ways to exploit your employees. Don't be the next victim, make your people the strongest link in your security strategy. <br />
			</p>
    </div>
  </div>
</section>
