<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2>CYBER CRIME PREVENTION</h2>
      <p>Train your employees via Skype/Office365 Teams/Facebook Messenger or Slack!</p>
    </div>
    <div class="col-sm-3">
      <h2>Gamified!</h2>
      <p>To increase the success of the training the whole platform is gamified. Your employees gain points and badgdes for their learning progress.</p>
    </div>
    <div class="col-sm-3">
      <h2>Security Overview</h2>
      <p>The system creates an overview about the level of knowledge in your organization. Learn about your readiness.</p>
    </div>
    <div class="col-sm-3">
      <h2>Non intrusive training</h2>
      <p>No more scheduling boring lenghty seminars for your employees but just minutes a day in a familar chat environment.</p>
    </div>
  </div>
</section>
