<section class="timeline gray-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>How to start</h1>
        <p>Rolling out sophisticated security training within minutes accross your organization. </p>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-12">
        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-briefcase"></i>
            </div>
            <div class="vertical-timeline-content">
              <h2>Signup</h2>
              <p>Contact us and signup with one of our trained agents.</p>
              <span class="vertical-date">
                Today <br/> <small><%= Date.today %></small>
              </span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-file-text"></i>
            </div>
            <div class="vertical-timeline-content">
              <h2>Provisioning</h2>
              <p>Within one week your organization is provisioned in the system and invitations for your employees are available.</p>
              <span class="vertical-date"> One Week <br/> <small><%= Date.today+7 %></small> </span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="vertical-timeline-content">
              <h2>Train</h2>
              <p>Within one day after activating their license your employees will be happily learn and quizzing away. </p>
              <span class="vertical-date"> One Day <br/> <small><%= Date.today+8 %></small> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>