<div class="row border-bottom">
  <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <ul class="nav navbar-top-links navbar-left">
      <li class="padding12">
      
      </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
      <li><span class="m-r-sm text-muted welcome-message">Welcome!</span></li>
      <li>
        <span class="text-muted">
          Logged in as <strong><%= current_user.try(:name) %></strong>
        </span>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
          <i class="fa fa-sign-out"></i> Log out
        <% end %>
      </li>
    </ul>
  </nav>
</div>
