<!DOCTYPE html>
<html>
<head>
  <title>EQBotics</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


  

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    <p class="text-muted">EQBotics Copyright 2017 </p>
  </div>
</footer>
</body>
</html>
