<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit Profile </h2>
    <%= render_breadcrumbs %>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= render 'edit_profile' %>
</div>